<div id="hero-section" class="hero section">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <h1 class="hero__title">Where talent<br>and determination finds opportunity</h1>
                <p class="hero__description">GPC is a service driven professional employer organization (PEO) that allows U.S. employers to find and hire top international talent.  Our services allow small and mid-sized businesses access to talent that has historically only been available to multi-national companies.</p>
                <button class="hero__btn">Schedule a meeting</button>
            </div>
            <div class="swiper-slide">
             <h1 class="hero__title">2 - Where talent<br>and determination finds opportunity</h1>
                <p class="hero__description">GPC is a service driven professional employer organization (PEO) that allows U.S. employers to find and hire top international talent.  Our services allow small and mid-sized businesses access to talent that has historically only been available to multi-national companies.</p>
              <button class="hero__btn">Schedule a meeting</button>
            </div>
            <div class="swiper-slide">
                <h1 class="hero__title">3 - Where talent<br>and determination finds opportunity</h1>
                <p class="hero__description">GPC is a service driven professional employer organization (PEO) that allows U.S. employers to find and hire top international talent.  Our services allow small and mid-sized businesses access to talent that has historically only been available to multi-national companies.</p>
                <button class="hero__btn">Schedule a meeting</button>
            </div>
            <div class="swiper-slide">
                <h1 class="hero__title">4 - Where talent<br>and determination finds opportunity</h1>
                <p class="hero__description">GPC is a service driven professional employer organization (PEO) that allows U.S. employers to find and hire top international talent.  Our services allow small and mid-sized businesses access to talent that has historically only been available to multi-national companies.</p>
                <button class="hero__btn">Schedule a meeting</button>
            </div>
        </div> 
        <div class="swiper-pagination"></div>
    </div>
</div>