<div id="how-section" class="how-gpc-works section"> 
    <h1 class="how__header"> How GPC Works</h1>
        <div class="steps__container">
            <div class="step__body">
                <div class="step__images">
                    <img src="/public/img/home/2nd-Section/2nd-section_icon_1.png" class="steps__icon engage services">
                    <img src="/public/img/home/2nd-Section/grey-arrow.png" class="steps__arrow">
                </div>
                    <h3 class="steps__title">Engage our services</h3>
                    <p class="icon__par">Straight forward and easy to execute Term Sheet and Terms and Conditions.</p>
           </div>

           <div class="step__body">
                <div class="step__images">
                    <img src="/public/img/home/2nd-Section/2nd-section_icon_2.png" class="steps__icon submit job request">
                    <img src="/public/img/home/2nd-Section/grey-arrow.png" class="steps__arrow">
                </div>
                    <h3 class="steps__title">Submit a job request</h3>
                    <p class="icon__par">We review the job request and select pre-screened candidates for interview.</p>
           </div>

           <div class="step__body">
                <div class="step__images">
                    <img src="/public/img/home/2nd-Section/2nd-section_icon_3.png" class="steps__icon interview coordination">
                    <img src="/public/img/home/2nd-Section/broken-line.png" class="steps__arrow">
                </div>
                    <h3 class="steps__title">Interview coordination</h3>
                    <p class="icon__par">We coordinate with the employer and candidate to schedule interviews using web-based calendaring tools.</p>
            </div>

            <div class="step__body">
                <div class="step__images">
                    <img src="/public/img/home/2nd-Section/broken-arrow.png" class="steps__arrow">
                    <img src="/public/img/home/2nd-Section/2nd-section_icon_4.png" class="steps__icon emplyoment negations">
                    <img src="/public/img/home/2nd-Section/grey-arrow.png" class="steps__arrow">
                </div>
                    <h3 class="steps__title">Emplyoment negations</h3>
                    <p class="icon__par">After interviewing candidates, employers and candidates negotiate employment terms. Once agreement occurs, we facilitate the offer letter process.</p>
            </div>

            <div class="step__body">
                    <img src="/public/img/home/2nd-Section/2nd-section_icon_5.png" class="steps__icon payroll and benefits">
                    <h3 class="steps__title">Payroll and benefits</h3>
                    <p class="icon__par">We coordinate the payroll and benefits onboarding. We also assist with initial computer equipment procurement.</p>
            </div>

        </div>

</div>