<div id="job-categories-section" class="job-categories section">
    <h1 class="job-categories__header">Browse Job Categories</h1>
    <div class="job-categories__list">
        <% for(var i=0; i < jobCategories.length; i++) { %>
            <div class="job-item">
                <img src="<%= jobCategories[i].jobIcon %>" class="job-item__icon"/>
                <h3 class="job-item__title"><%= jobCategories[i].jobTitle %></h3>
                <p class="job-item__description"><%= jobCategories[i].jobDescription %></p>
            </div>
         <% } %>
    </div>
    <button class="job-categories__button">See More Skills</button>
</div>