<div id="why-section" class="why-gpc section">
    <h1 class="why__header"> Why Choose GPC</h1>
        <div class="why__body">
            <div class="why__item">
                <img class="why__icons" src="/public/img/home/3rd-Section/3rd-section_icon_1.png">
                <h3 class="why__title">No outsourcing or contractors</h3>
                <p class="why__par">Hire full-time employees; maintain data security and control over services delivered for companies searching for long-term employment solutions.</p>
            </div>

            <div class="why__item">
                <img class="why__icons" src="/public/img/home/3rd-Section/3rd-section_icon_2.png">
                <h3 class="why__title">No subsidiaries required</h3>
                <p class="why__par">Avoid the time and cost required to establish and maintain foreign legal entities. Legal and employment compliance handled by in-country attorneys and human resource professionals.</p>
            </div>

            <div class="why__item">
                <img class="why__icons" src="/public/img/home/3rd-Section/3rd-section_icon_3.png">
                <h3 class="why__title">Ease of posting job</h3>
                <p class="why__par">Human resource and graphic arts professionals develop job posts based on criteria provided.</p>
            </div>

            <div class="why__item">
                <img class="why__icons" src="/public/img/home/3rd-Section/3rd-section_icon_4.png">
                <h3 class="why__title">Candidate identification</h3>
                <p class="why__par">Hire full-time employees; maintain data security and control over services delivered for companies searching for long-term employment solutions</p>
            </div>

            <div class="why__item">
                <img class="why__icons" src="/public/img/home/3rd-Section/3rd-section_icon_5.png">
                <h3 class="why__title">Payroll and benefits</h3>
                <p class="why__par">Hire full-time employees; maintain data security and control over services delivered for companies searching for long-term employment solutions</p>
            </div>

            <div class="why__item">
                <img class="why__icons" src="/public/img/home/3rd-Section/3rd-section_icon_6.png">
                <h3 class="why__title">Computer equipment procurement</h3>
                <p class="why__par">Hire full-time employees; maintain data security and control over services delivered for companies searching for long-term employment solutions</p>
            </div>

            <div class="why__item">
                <img class="why__icons" src="/public/img/home/3rd-Section/3rd-section_icon_7.png">
                <h3 class="why__title">Financial reporting</h3>
                <p class="why__par">Hire full-time employees; maintain data security and control over services delivered for companies searching for long-term employment solutions</p>
            </div>

            <div class="why__item">
                <img class="why__icons" src="/public/img/home/3rd-Section/3rd-section_icon_8.png">
                <h3 class="why__title">Here to help</h3>
                <p class="why__par">Hire full-time employees; maintain data security and control over services delivered for companies searching for long-term employment solutions</p>
            </div>

        </div>
</div>