@font-face {
  font-family: Monseratt;
  src: url('/public/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: MonserattBold;
  src: url('/public/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: NotoSans;
  src: url('/public/fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: NotoSansBold;
  src: url('/public/fonts/NotoSans-Bold.ttf');
}
