<div class="footer section"> 
    <div class="footer__link-container">
        <a href="#hero-section" class="footer__link">About GPC</a>
        <br>
        <a href="#how-section" class="footer__link">How GPC Works</a>
    </div>
    
    <div class="footer__link-container">
        <a href="#why-section" class="footer__link">Why Choose GPC</a>
        <br>
        <a href="#job-categories-section" class="footer__link">Browse Job Categories</a>
    </div>
    
    <div class="footer__link-container">
        <a class="footer__link">Pricing and T&CS</a>
        <br>
        <a class="footer__link">Contact Us</a>
    </div>
    
    <div class="contacts">
        <a><img class="footer__icon"></a>
        <p class="contacts__description">Where talent and determination finds opportunity</p>
        <p class="contacts__description">Connect with us</p>
        <a><img class="footer__iconfb"></a>
        <a><img class="footer__iconin"></a>
    </div>

    <div class="copyright">
     <p class="footer__rights">&copy; 2022 GPC. All Rights Reserved &nbsp;</p>
    </div>

</div>